*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 1.5rem 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.todo-text{
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
}
.todo-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input-box{
    width: 250px;
    height: 35px;
    padding: 0.2rem;
    font-size: 1rem;
}

.input-box:focus {
    border-color: #000;
}

.task-container{
    margin-bottom: 1rem;
}

main{
    display: flex;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;
}

.empty-text{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.task-text{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.input-text{
    padding: 0.5rem;
    font-size: 1.2rem;
}
.save-text{
    margin: 1rem;
}